.dialog-add-user {
  /* display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; */

  .add-form-container {
    margin: 16px;
  }

  .dialog-action-buttons {
    display: flex;
    justify-content: space-between;
  }
}
